{% extends 'twitter/layout.html' %}

{% block content %}
{% load static %}
<body class="login-page">
    <div class="twitter-login-box">
        <header>
            <img src="{% static 'img/oso-de-peluche.png'%}" alt="logo">
            <h1>Inicia Sesión</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            <div class="input-wrapper">
                <label for="user-name-id">Username</label>
                {{ form.username }}
            </div>

            <div class="input-wrapper">
                <label for="password-id">Password</label>
                {{ form.password }}
            </div>
            {% if form.errors %}
            <p>Username or password not correct.</p>
            {% endif %}

            <button class="SociUp-btn">Log in</button>
        </form>

        <div class="footer">
           
            <a href="{% url 'register'%}">Sign up to SociUp</a>
        </div>

    </div>
{% endblock content %}